
/* CSS resetting */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* end of CSS resetting */


/* added by me */

body{
    font-family: arial, sans-serif;
}

.logo-main img{
    margin: auto;
    display:block;
    padding-top: 198px;
    padding-bottom: 30px;
}

#searchbox{
    box-sizing: border-box;
    height:44px;
    border-radius: 2px;
    max-width:584px;
    width: 584px;
    border:0px;
    font-size:15px;
    padding-left: 16px;
    /* padding-top: 6px; */
    /* padding-right:9px; */
    display:block;
    margin:auto;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    background: url("../images/microphone.png") no-repeat;
    background-position: 98%;
    background-size: 30px 30px;
}

#searchbox:hover{
    box-shadow: 0px 2px 6px 1px #Ccc;
}

#searchbox:focus{
    outline:none;
}

.button-container{
    text-align: center;
}

.buttons{
    height: 36px;
    /* background-image:-webkit-linear-gradient(top,#f5f5f5,#f1f1f1); */
    background-color:#f2f2f2;
    font-family:arial, sans-serif;
    font-size:13px;
    color: #757575;
    font-weight:bold;
    padding: 0 16px;
    text-align:center;
    box-sizing:border-box;
    display:inline-block;
    margin: 40px 2px 10px 2px;
    border: 1px solid #f2f2f2;
    border-radius:2px;
}


.buttons:hover{
    border:1px solid #c6c6c6;
    box-shadow:0 1px 1px rgba(0,0,0,0.1);
    color:#222;
}

p {
    text-align: center;
    font-family: arial, sans-serif;
    font-size: small;
    display:block;
    margin:20px ;
}

a{
    text-decoration: none;
    color:#1a0dab;
    font-size:small;
}

a:hover{
    text-decoration: underline;
}

#gmail-link, #images-link{
    padding-right:12px;
}

.navbar-container{
    /* border: 2px solid teal; */
    height:50px;
    width:400px;
    position:absolute;
    top:10px;
    right:10px;
    text-align: right;
}




li{
    display:inline-block;
}


.navbar-images{
    display:inline-block;
    /* height:40px;
    width:40px; */
    /* border: 2px solid black; */
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    vertical-align: middle;
}


#square-menu{
    height:30px;
    width:30px;
    background-image: url('../images/squares_menu.png'); 
    /* background-repeat:no-repeat; */
}


#notification{
    height:30px;
    width:30px;
    background-image: url('../images/notifications.png'); 
    /* background-repeat:no-repeat; */
}

#user{
    height:40px;
    width:40px;
    background-image: url('../images/user.png'); 
    /* background-repeat:no-repeat; */
}

.navbar-container a{
    color:rgba(0,0,0,0.87);
}

/* .searchbox-container {
    position:relative;
    border: 2px solid teal;
    top:50px;
    padding-bottom: 30px;
    margin:auto;
} */

#footer-bottom, #footer-top{
    width:100%;
    border: 1px solid rgba(128, 128, 128, 0.146);
    height:40px;
    background-color:#f2f2f2;
    position:absolute;
    color:#666;
}

.footer-navbar a{
    color:#666;
    padding-right:10px;
}

#footer-bottom{
    bottom:0px;
}

#footer-top{
    bottom:40px;
}

#footer-top li{
    line-height:40px;
    padding-left:20px;
}

.links-footer-left{
    float:left;
    line-height: 40px;
    padding-left:20px;
}

.links-footer-right{
    float:right;
    line-height: 40px;
    padding-right:20px;
}

